.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    position: relative;
}

.image{
    height: 90px; width: 90px;
    border-radius: 50%;
}
  
.profile p{
    font-size: 20px;
    font-weight: 700;
}

#slack{
    display: none;
}

.desktop-share{
    position: absolute;
    top: 62px;
    right: 20%
}

.mobile-share{
    display: none;
    position: absolute;
    top: 62px;
    right: 2.5%
}

@media screen and (max-width: 450px) {
    .mobile-share{
        display: inline-block;
    }
    .desktop-share{
        display: none;
    }
}