.contact-page{
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
}

.contact-page h1{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}

.contact-page label{
    display: block;
    margin: 25px 0 10px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.contact-page .input-fields .names{
    display: flex;
    justify-content: space-between;
}

.contact-page .names div{
    width: 48%;
}

.contact-page .input-fields input, textarea{
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 45px;
}

.contact-page .input-fields input.error{
    border: 1px solid #F89687;
    /* box-shadow: 0 0 10px rgba(248, 150, 135, 1); */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}

.contact-page .input-fields input:focus-visible{
    outline: 1px solid #84CAFF;
    /* box-shadow: 0 0 10px #84CAFF; */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #84CAFF;
    border: 1px solid #84CAFF;
}

.contact-page .input-fields textarea{
    resize: none;
    height: 150px;
}

.contact-page .input-fields textarea.error{
    /* border: 1px solid #F89687; */
    border: 1px solid rgba(248, 150, 135, 1);
    /* box-shadow: 0 0 10px rgba(248, 150, 135, 1); */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}

.contact-page .input-fields textarea:focus-visible{
    outline: 1px solid #84CAFF;
    /* box-shadow: 0 0 10px #84CAFF; */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #84CAFF;
    border: 1px solid #84CAFF;
}

.contact-page .input-fields p{
    color: #F89687;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.agreement input {
    appearance: none;
    -webkit-appearance: none;
    /* background-color: #84CAFF; */
    margin-top: 5px;
    border-radius: 3px;
    min-height: 12px;
    min-width: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #D0D5DD;
}

.agreement input::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 10px;
    font-weight: 800;
    color: blue;
    display: none;
}

.agreement input:checked{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #84CAFF;
    outline: 1px solid blue;
}

.agreement input:checked::after{
    display: block;
}

.contact-page button{
    width: 100%;
    background: #1570EF;
    border-radius: 7px;
    border: none;
    color: #fff;
    padding: 10px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
}

.contact-page button:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #84CAFF;
}

.contact-page .agreement{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 0 30px 0;
}

.contact-page .agreement label{
    margin: 0;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: block;
}

@media screen and (max-width: 450px) {
    .contact-page{
        width: 92%;
        padding-top: 50px;
    }
    .contact-page .input-fields .names{
        flex-direction: column;
    }
    .contact-page .names div{
        width: 100%;
    }
}
